
@{
    ViewBag.Title = "Angels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="top-banner">
            <h1>LET THE SEXIEST & NAUTIEST ANGELS BE THE HOST</h1>
        </div>
    </div>
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:#eee; padding-top:15px; padding-bottom:15px">
    <div class="row">
        <div class="container">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mycol">
                        <div class="angel-container">
                            <div class="img-thumb">
                                <img style="height:100%;width:100%" src="~/imgs/sample.png" />
                            </div>
                            <div class="angel-name">
                                <div class="a-name">Shu Qui</div>
                                @*<div class="a-old">19 yrs</div>
                                <div class="a-inter">Korea</div>*@
                            </div>
                            <div class="angel-pick">
                                <button class="btn btn-danger">Pick</button>
                                <button class="btn btn-default">View</button>
  
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mycol">
                        <div class="angel-container">
                            <div class="img-thumb">
                                <img style="height:100%;width:100%" src="~/imgs/sample.png" />
                            </div>
                            <div class="angel-name">
                                <div class="a-name">Shu Qui</div>
                                @*<div class="a-old">19 yrs</div>
                    <div class="a-inter">Korea</div>*@
                            </div>
                            <div class="angel-pick">
                                <button class="btn btn-danger">Pick</button>
                                <button class="btn btn-default">View</button>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mycol">
                        <div class="angel-container">
                            <div class="img-thumb">
                                <img style="height:100%;width:100%" src="~/imgs/sample.png" />
                            </div>
                            <div class="angel-name">
                                <div class="a-name">Shu Qui</div>
                                @*<div class="a-old">19 yrs</div>
                    <div class="a-inter">Korea</div>*@
                            </div>
                            <div class="angel-pick">
                                <button class="btn btn-danger">Pick</button>
                                <button class="btn btn-default">View</button>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mycol">
                        <div class="angel-container">
                            <div class="img-thumb">
                                <img style="height:100%;width:100%" src="~/imgs/sample.png" />
                            </div>
                            <div class="angel-name">
                                <div class="a-name">Shu Qui</div>
                                @*<div class="a-old">19 yrs</div>
                    <div class="a-inter">Korea</div>*@
                            </div>
                            <div class="angel-pick">
                                <button class="btn btn-danger">Pick</button>
                                <button class="btn btn-default">View</button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="cart-container">
                    <div class="title text-danger">
                        Your Request
                    </div>
                    <div class="line-feature">
                        <span class="fa-icon" title="Time">
                            <i class="fa fa-fw fa-lg fa-calendar" aria-hidden="true"></i>
                        </span>
                        <div class="feature-val" style="min-height:35px;">
                            <div class="date-picker">From <input type="date" /></div>
                            <div class="date-picker">To <input type="date" /></div>
                        </div>                     
                    </div>
                    <div class="line-feature">
                        <span class="fa-icon" title="Girls">
                            <div class="out-icon">
                                <img style="width:100%;" src="~/imgs/girl.png" />
                            </div>                          
                        </span>
                        <div class="feature-val">
                            <span>Shu Qui</span>, <span>Angel Eliza</span>, <span>Hana Emi</span>, <span>Shu Qui</span>, <span>Angel Eliza</span>, <span>Hana Emi</span>
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="more-feature">MORE FEATURES</div>
                    <div class="more-feature-area">
                        <div class="line-feature">
                            <span class="fa-icon" title="Limousine"><i class="fa fa-fw fa-car" aria-hidden="true"></i> Limousine</span>
                            <div class="feature-val">
                                <span class="checkboxtext"><input type="checkbox" /></span>
                            </div>
                        </div>
                        <div class="line-feature">
                            <span class="fa-icon" title="Hotel"><i class="fa fa-fw fa-bed" aria-hidden="true"></i> Hotel</span>
                            <div class="feature-val">
                                <span class="checkboxtext"><input type="checkbox" /></span>
                            </div>
                        </div>
                        <div class="line-feature">
                            <span class="fa-icon" title="Party"><i class="fa fa-fw fa-glass" aria-hidden="true"></i> Party</span>
                            <div class="feature-val">
                                <span class="checkboxtext"><input type="checkbox" /></span>
                            </div>
                        </div>
                        <div class="line-feature">
                            <span class="fa-icon" title="Casino"><i class="fa fa-fw fa-diamond" aria-hidden="true"></i> Casino</span>
                            <div class="feature-val">
                                <span class="checkboxtext"><input type="checkbox" /></span>
                            </div>
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="line-feature">
                        <span class="fa-icon" title="Casino"><i class="fa fa-fw fa-usd" aria-hidden="true"></i> USD</span>
                        <div class="feature-val">
                            <span class="total text-success">3.000</span>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>




<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="bot-banner">
            <div class="h2">Enjoy your best night in Singpore</div>
        </div>
        
    </div>
</div>




